/build
src/main/res/font/bakh_regular.ttf
src/main/res/font/bakh_black.ttf
src/main/res/font/bakh_bold.ttf
src/main/res/font/bakh_extra_black.ttf
src/main/res/font/bakh_extra_bold.ttf
src/main/res/font/bakh_light.ttf
src/main/res/font/bakh_semi_bold.ttf
src/main/res/font/bakh_thin.ttf
